[BEGINVDF]
Comment=
BaseDir=F:\Gry\Gothic Czas Honoru\Gothic II NK
VDFName=F:\Gry\Gothic Czas Honoru\Gothic II NK\Data\modvdf\CzasHonoru.mod
[FILES]
[EXCLUDE]
[INCLUDE]
_Work\data\Scripts\Content\Gothic.src -r
_Work\data\Worlds\Addon\AddonWorld.ZEN -r
[ENDVDF]
