[BEGINVDF]
Comment=
BaseDir=F:\Gry\Gothic2Ucieczka
VDFName=F:\Gry\Gothic2Ucieczka\Data\modvdf\Ucieczka.mod
[FILES]
[EXCLUDE]
[INCLUDE]
_Work\data\Scripts\_compiled\GOTHIC.DAT -r
_Work\data\Scripts\Content\Cutscene\OU.BIN -r
[ENDVDF]
