[BEGINVDF]
Comment=
BaseDir=C:\Gothic\Gothic 2 Ucieczka
VDFName=C:\Gothic\Gothic 2 Ucieczka\Data\modvdf\Ucieczka.mod
[FILES]
[EXCLUDE]
[INCLUDE]
_Work\data\Scripts\_compiled\GOTHIC.DAT -r
_Work\data\Scripts\Content\Cutscene\OU.BIN -r
[ENDVDF]
